<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/databaseName?useUnicode=true&amp;characterEncoding=UTF-8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- create, update, validate (default), create-drop -->
        <property name="hbm2ddl.auto">create</property>
        
        <!--
            MASSIVELY speeds up startup time of the application.
            See: https://stackoverflow.com/a/10109005
        -->
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

        <!-- Enable statistics. -->
        <property name="hibernate.generate_statistics">true</property>

        <!-- The second level cache implementation. -->
        <property name="hibernate.cache.region.factory_class">jcache</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>

        <!-- placed on the classpath (note: "classpath:ehcache.xml" does not work! -->
        <property name="hibernate.javax.cache.uri">ehcache.xml</property>
        <!-- Enable it if we are not configuring the ehcache.xml -->
        <!-- <property name="hibernate.cache.use_query_cache">true</property> -->
        
        <!-- To control the caching of all the newly inserted instances (good to have for batch insertions) -->
        <property name="hibernate.jdbc.batch_size">50</property>

        <!-- show_sql = true for debugging and false otherwise. -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- c3p0 connection pool properties. -->
        <property name="hibernate.c3p0.min_size">3</property>
        <property name="hibernate.c3p0.max_size">15</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.aquire_increment">2</property>
        <property name="hibernate.c3p0.idle_test_period">300</property>

        <!-- mappings must be placed after properties -->
        <mapping class="com.myapp.model.Person"/>
    </session-factory>

</hibernate-configuration>
